<div ng-controller="authCtrl as auth">

    <div ng-if="auth.authorizeView">
        <form>
            <label>API Key:</label>
            <br>
            <input type="text" class="easyInput" ng-model="auth.account.apiKey"  required>
            <br>
            <label>API Token:</label>
            <br>
            <input type="text" class="easyInput" ng-model="auth.account.apiToken" required>
            <br>

            <button type="button" ng-click="auth.reset()" class="easyButton"> Reset </button>
            <input type="submit" ng-click="auth.submitKey()" class="submitButton">
            <h3>
                {{ auth.accessResult }}
            </h3>
        </form>

    </div>
    <% include menu.ejs %>

</div>
<!-- authCtrl end-->