<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href='/stylesheets/jenhaoProject.css' />
    <script src='/javascripts/jenhaoProject-packages.js'></script>
    <script src='/javascripts/jenhaoProject.js'></script>

    <title>JenHao AWS </title>
</head>

<body ng-app="jenhaoApp">
    <div ng-controller="rootCtrl as root">
        <h1>{{ root.ownerName }}'s Project</h1>

        <h3> Subject
            <span class="redText">
                <%= programName %>
            </span>
        </h3>
        <% include authorization.ejs %>
    </div> 
</body>

</html>