<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.min.js"></script>
    <script src="angularApp.js"></script>

    <title>JenHao AWS </title>
</head>

<body ng-app="jenhaoApp">
    <div ng-controller="rootCtrl as root">
        <h1>{{ root.ownerName }}'s Project</h1>

        <h3> Subject
            <span class="redText">
                <%= programName %>
            </span>
        </h3>

        <div ng-if="root.authorize">
            <button type="button" ng-click="root.startAuth()" class="easyButton"> Authorization </button>
        </div>

        <div ng-if="!root.authorize">
            <form>
                <label>API Key:</label>
                <br>
                <input type="text" class="easyInput" ng-model="root.account.apiKey" required>
                <br>
                <label>API Token:</label>
                <br>
                <input type="text" class="easyInput" ng-model="root.account.apiToken" required>

                <button type="button" ng-click="root.startAuth()" class="easyButton"> Back </button>
                <button type="button" ng-click="root.reset()" class="easyButton"> Reset </button>
                <input type="submit" ng-click="root.submit()" class="submitButton">

            </form>

            <h3>
                <%= accessServerResult %>
            </h3>


        </div>
    </div>

    <!-- <img src="/images/cat01.jpg" style="height: 200px;"> -->

</body>

</html>