<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href='/stylesheets/jenhaoProject.css' />
    <script src='/javascripts/jenhaoProject-packages.js'></script>
    <script src='/javascripts/jenhaoProject.js'></script>

    <title>JenHao AWS </title>
</head>

<body ng-app="jenhaoApp">
    <div class="easyContainerLR">
        <div ng-controller="rootCtrl as root">
            <h1>{{ root.ownerName }}'s Project</h1>

            <!-- <h3> Subject
                <span class="redText">
                    <%= programName %>
                </span>
            </h3> -->
            <% include authorization.ejs %>

                <!-- <button type="button" ui-sref="page1" ui-sref-active="active">page1</button>
                    <button type="button" ui-sref="page2" ui-sref-active="active">page2</button>
                    <button type="button" ui-sref="page1" ui-sref-active="active">page3</button>
            
                    <ui-view></ui-view> -->
        </div>
    </div>

</body>

</html>