<div ng-if="auth.menuView">
    <button type="button" ng-click="" class="easyButton"> List buckets </button>
    <button type="button" ng-click="" class="easyButton"> Add one bucket </button>
</div>

