<div ng-if="auth.menuView">
    <div ng-controller="menuCtrl as menu">
        <h1>{{ menu.ctrlName }}</h1>

        <button type="button" ng-click="menu.listBuckets()" class="easyButton"> List buckets </button>
        <button type="button" ng-click="menu.addBucket()" class="easyButton"> Add one bucket </button>


        <li ng-repeat="bucket in menu.bucketsList">
            {{bucket.Name}}
        </li>

    </div>
</div>