.redText{
    color:red;
}

.easyContainer{
    padding: 0px 20px;
}

.easyTableContainer{
    padding:20px 0px;
}

.easyTable{
    min-width: 700px;
    border-collapse: collapse;

}

.easyTable ,th{
    background-color: #c7e1f7;
}
.easyTable ,td{
    background-color: #ffffff;
}

.easyTable ,th, td{
    padding: 15px;
    border: 1px solid #ddd;
}


.easyButton{
    padding:10px;
    background-color: #fec46d;
    font-size: 20px;
    border-radius: 10px;
    border-width: 0px;
}

.submitButton{
    padding:10px;
    background-color: #21aa2c;
    font-size: 20px;
    border-radius: 10px;
    border-width: 0px;
}

.easyInput{
    width: 100%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}